#completion-form, #completion-form p, label{
  color:white;
  font-size:17px;
}

label:hover{
  color:#DBDBDB !important;
}

#completion-form input{
  margin-bottom:20px;
}

#completion-form textarea{
  width:100%;
  max-width:500px;
  height:100px;
}

#submission-message{
  padding:20px;
  color:#C3C3C3;
  font-size:20px;
}
